<nav class="navbar navbar-expand-lg navbar-light shadow-sm fixed-top">
    <div class="container-fluid mx-5">
        <a class="navbar-brand" href="#">
            <img src="{{ asset('assets2/images/logo_ts.png') }}" alt="Logo" class="img-cust">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto gap-5 cust-padd">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_hotels_chambres')}}">Hôtels et Chambres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_contact')}}">Contact</a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <button class="btn mx-2 custBgBtn" id="" href="{{ path('app_hotels_chambres') }}">Réserver</button>

                {% if app.user %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Mon profil
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ path('app_my_reservation') }}">Mes réservations</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a></li>
                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_GERANT') %}
                                <li><a class="dropdown-item" href="{{ path('admin') }}">BackOffice</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

